.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url(../../assets/background1.jpg);
  background-position: center;
  background-size: cover;
}

.intro_text {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 85px;
}

.subtitle {
  font-size: 25px;
  padding-top: 10px;
}

.button_container {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.landing_button {
  width: 200px;
  height: 55px;
}

@media only screen and (min-width: 1200px) {
  .button_container {
    padding: 0 200px;
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (min-width: 360px) {
  .landing_button {
    width: 150px;
    height: 50px;
  }
  .title {
    font-size: 60px;
  }
}
